#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid gray;
    margin: 20px;
    text-align: center;
}


img {
    width: 100%;
}

button.active {
    font-weight: bold;
    background-color: gray;
    color: #fff;
}